html,

.general-container {
    background: linear-gradient(90deg, #000, #000D 35%, #0000), url(../img/151044.jpg);
    position: relative;
    height: 100vh;
    animation: zoom 3s;
}

@media (max-width:768px) {
    body {
        padding: 30px 30px 25px 30px;
        background-image: url(../img/151044.jpg);
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
    }
    
}

@keyframes zoom {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }

}
